#page-user-account {
  padding: 12px;

  > .filter {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;

    > .input {
      width: 200px;
    }
  }

  > .view {
    border: solid 1px var(--g-border-color);
    border-radius: 8px;
    overflow: hidden;
  }
}
